<%- include('partials/header'); -%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <label for="title">Title</label><br>
        <textarea name="title" cols="100" rows="1" placeholder="Title for Blog Post" autocomplete="off"></textarea><br>
        <label for="post">Post</label><br>
        <textarea name="post" cols="100" rows="10" placeholder="Content for Blog Post" autocomplete="off"></textarea><br>
        <button type="submit" class="button">Publish</button>
    </form>
<%- include('partials/footer'); -%>