<%- include('partials/header'); -%>
    <h1>Compose</h1>
    <input type="text" name="blog-content" class="blog-content-class" placeholder="Enter Content for Blog Post">
    <button type="submit">Publish</button>
<%- include('partials/footer'); -%>